<h1>Sign In</h1>

<%= form_tag sessions_url do %>

  <%= label_tag :email, "Email:" %>
  <%= text_field_tag :email, params[:email], size: 50 %>
  <br>
  <%= label_tag :password, "Password:" %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "Enter" %>

<% end %>
