




<%= form_for @join do |f| %>

  <div>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.hidden_field :password %>
  </div>

<!--   <div>
    <%#= f.label :password_confirmation %><br>
    <%#= f.text_field :password_confirmation %>
  </div> -->

  <div>
    <%= f.submit %>
  </div>
<% end %>
