<h1 class="family_title"><%= @family.name %> Family Room</h1>

<div class="family_members">
    <h2>Family Members</h2>
    <%  %>
</div>

<div class="family_messages">
  <h2>Messages</h2>
  <% if session[:member_id] %>
    <p><%= link_to "Write a Message", new_message_url(family_id: @family.id) %></p>
  <% end %>

  <% if @family.messages.present? %>

    <% @family.messages.each do |message| %>
      <article>
        <h3>
          <%= message.member_id %>: <%= message.title %>
        </h3>
        <p><%= message.body %></p>
      </article>
    <% end %>
  <% end %>
</div>
