<h1 class="family_title"><%= @family.name %> Family Room</h1>

<div class="family_members">
    <h2>Family Members</h2>
    <h6><%= link_to 'Invite Family Members!', '#invite_members_url', class: "fancybox" %></h6>
      <div id="invite_members_url" style="display:none">
        <h1>Invite Your Family!</h1>
        <%= render 'invite_form' %>
      </div>

      <% @family.members.each do |member| %>
        <%= link_to member.first_name, member_url(id: member.id) %>
        <br>
      <% end %>
</div>

<div class="family_messages">
  <h2>Messages</h2>
 <h6><%= link_to 'Write a Message', '#new_message_url', class: "fancybox" %></h6>
      <div id="new_message_url" style="display:none">
        <h1>Write a Message</h1>

          <%= render 'messages/form' %>
      </div>

  <% if @family.messages.present? %>

    <% @family.messages.each do |message| %>
      <article>
        <h3>
          <%= message.member.first_name %>: <%= message.title %>
        </h3>
        <p><%= message.body %></p>
      </article>
    <% end %>
  <% end %>
</div>
