<header>
  <div class="centerwrap">
   <h1 class="title"><%= link_to "FamilyRoom", root_url %>
   </h1>
   <div class="login">
      <% if session[:member_id].present? %>
        <%= link_to "Log Out", logout_url %>
        <% else %>
        <%= link_to "Log In", '#login', :class => "fancybox" %>
      <% end %>
    </div>
  </div>

  <div id="login" style="display:none">
    <h1>Sign In</h1>

      <%= form_tag sessions_url do %>

        <%= label_tag :email, "Email:" %>
        <%= text_field_tag :email, params[:email], size: 20 %>
        <br>
        <%= label_tag :password, "Password:" %>
        <%= password_field_tag :password %>
        <br>
        <%= submit_tag "Enter" %>

      <% end %>

  </div>
</header>

<section class="familyshow">
  <div class="container">

    <h1 class="family_title">
      The <%= @family.name %> Family Room
    </h1>


    <div class="family_members">
        <h2>Family Members</h2>
        <h6><%= link_to 'Invite Family Members!', '#invite_members_url', class: "fancybox" %></h6>
          <div id="invite_members_url" style="display:none">
            <h1>Invite Your Family!</h1>

              <%= form_tag create_invite_members_path(@member) do %>

              <%= hidden_field_tag :family_id, current_member.family_id %>

                 <p>
                   Family Member's First Name:
                   <br>
                   <%= text_field_tag :first_name %>
                 </p>

                 <p>
                   Family Member's email:
                   <br>
                   <%= text_field_tag :email %>
                 </p>

               <%= submit_tag "Invite Family Members!" %>
              <% end %>
            </div>

          <% @family.members.each do |member| %>
            <%= link_to member.first_name, member_url(id: member.id) %>
            <br>
          <% end %>
    </div>

    <div class="family_messages">
      <h2>What's up?</h2>
      <h6>
        <%= link_to 'Share a Message', '#new_message_url', class: "fancybox" %>
      </h6>
          <div id="new_message_url" style="display:none">
            <h1>Write a Message</h1>

              <%= form_tag(messages_url, method: 'post') do %>

                <%= hidden_field_tag :member_id, current_member.id %>

                <%= hidden_field_tag :family_id, current_member.family.id %>

                <div>
                  <%= label_tag :title %><br />
                  <%= text_field_tag :title %>
                </div>

                <div>
                  <%= label_tag :body %><br />
                  <%= text_area_tag :body %>
                </div>

                <div>
                  <%= submit_tag "Share" %>
                </div>
              <% end %>
          </div>

      <% if @family.messages.present? %>

        <% @family.messages.each do |message| %>
          <article>
            <h3>
              <%= message.member.first_name %>
            </h3>
            <h4 class="time">
              <%= time_ago_in_words(message.created_at) if message.created_at.present? %> ago
            </h4>
            <p><%= message.body %></p>
          </article>
        <% end %>
      <% end %>
    </div>
  </div>
</section>



