<header>
  <div class="centerwrap">
   <h1 class="title"><%= link_to "FamilyRoom", root_url %>
   </h1>
   <div class="login">
      <% if session[:member_id].present? %>
        <%= link_to "Log Out", logout_url %>
        <% else %>
        <%= link_to "Log In", '#login', :class => "fancybox" %>
      <% end %>
    </div>
  </div>

  <div id="login" style="display:none">
    <h1>Sign In</h1>

      <%= form_tag sessions_url do %>

        <%= label_tag :email, "Email:" %>
        <%= text_field_tag :email, params[:email], size: 20 %>
        <br>
        <%= label_tag :password, "Password:" %>
        <%= password_field_tag :password %>
        <br>
        <%= submit_tag "Enter" %>

      <% end %>

  </div>
</header>

<section class="upperhome">
  <div class="welcome">

    <h1>
      Welcome To FamilyRoom.
    </h1>

    <h3>
      <span class="line"></span>
      Where families meet online.
      <span class="line"></span>
    </h3>

    <button class="createfamroom">
      <%= link_to "Create A FamilyRoom"%>
    </button>
  </div>
</section>


<section class="imac">


</section>

<section class="intro">

  <div class="slogan">
    <h3>
      Introducing FamilyRoom
    </h3>
    <p>
      Our mission is to help you stay better connected with your family.
    </p>
  </div>

</section>

<section class="whyfamilyroom">

  <div class="what">
    <h3>What is FamilyRoom?</h3>
    <p>
      A web app designed specifically to simplify how families communicate. No more juggling texts, emails, phone calls, and social media to stay on the same page. FamilyRoom provides you with a single secure location for your family to talk.
    </p>
    <p class="public_simple">
      No public profile. Three simple features.
    </p>
  </div>

</section>

<section class="about">
  <div class="icons">
    <div>
      <i class="fa fa-envelope"></i>
      <h3>Share pics, msgs, and vids</h3>
    </div>
    <div>
      <i class="fa fa-comments-o"></i>
      <h3>Chat</h3>
    </div>
    <div>
      <i class="fa fa-calendar"></i>
      <h3>Coordinate schedules</h3>
    </div>
  </div>
</section>

<section class="target">
  <div class="who">
    <h3>Who is FamilyRoom for?</h3>
    <p>
      FamilyRoom is for anyone who needs a better way to stay in contact with their family. We think that people's communication networks are stretched too thin. We want to simplify how your family interacts.
    </p>
  </div>
</section>

<section class="new_member_url">
  <div class="signup">

  <h3>Sign Up!</h3>

    <%= form_for Member.new do |f| %>

    <%= f.hidden_field :family_id, :value => params[:family_id] if params[:family_id].present? %>

    <div class="new_member_field">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>

    <div class="new_member_field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>

    <div class="new_member_field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>

    <div class="new_member_field">
      <%= f.label :confirm_password %><br>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="new_member_button">
      <%= f.submit "Go!"%>
    </div>
  <% end %>
  </div>
</section>
