<!DOCTYPE html>
<html>
<head>
  <title>FamilyRoom</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<body>

<!--     <% if current_member && current_member.family_id %>
      <h3 class="current_member">Hello, <%= link_to current_member.first_name, family_url(id: current_member.family_id) %>!</h3>
    <% end %> -->




    <%= yield %>


<!--     <footer>
      <div class="container">
        <hr class="featurette-divider">
        <p class="pull-right"></p>
        <p>&copy; JGM, Inc. &middot; <a href= "/about">About</a></p>
      </div>
    </footer> -->

</body>
</html>
