<h1>
  <%= @member.first_name %>
</h1>

<br>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Bio:</b>
  <%= @member.bio %>
</p>
<br>
<h5>
  <% if session[:member_id] %>
    <p><%= link_to "Edit Profile", edit_member_url %></p>
  <% end %>
  <%= link_to 'Back To Room', family_url(id: current_member.family_id) %>
</h5>
<%#= link_to "Back To Room", family_url(id: @family.id) %>
