<div class="member_bio">

  <h1>
    <%= @member.first_name %>
  </h1>

  <img src="/assets/Selfie.jpeg" alt="">

  <div class="member_info">
    <p>
      <b>Email:</b>
      <%= @member.email %>
    </p>

    <p>
      <b>Bio:</b>
      <%= @member.bio %>
    </p>
  </div>

  <div class="member_links">
    <% if session[:member_id] %>
      <%= link_to "Edit Profile", edit_member_url %>
    <% end %>
    <%= link_to 'Back To Room', family_url(id: current_member.family_id) %>
  </div>
</div>
